parameters:
    level: 0
    fileExtensions:
        - php
        - module
        - inc
        - install
        - theme
        - profile
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        # new static() is a best practice in Drupal, so we cannot fix that.
        - "#^Unsafe usage of new static#"
    # Copied from https://git.drupalcode.org/project/gitlab_templates/-/raw/default-ref/assets/phpstan.neon
    # except for the lines below.
    bootstrapFiles:
        # Load aliases.
        - ../../core/lib/Drupal/Core/Serialization/Yaml.php
